<ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
<h2>Welcome to Harbourside</h2>
<p>A holiday let on the Fowey estuary with the following key features</p>
<ul>
  <li>Stunning south facing views over the Fowey estuary to the town of Fowey from the house and sun terrace</li>
  <li>4 Bedrooms, bathroom, shower room, kitchen, dining area and large living room</li>
  <li>Off road parking for 2 cars</li>
</ul>

  With breathtaking views from the sun terrace, looking down the River Fowey and out to sea, this charming retreat has it all.
<br /><br />
<h4>Ground Floor</h4>
<ul>
  <li>Living room: With wood burner, Freeview TV, DVD player, Sonos Bluetooth speaker, iPod dock and patio doors leading to sun terrace.</li>
  <li>Shower room: With shower cubicle and toilet.</li>
  <li>Kitchen/dining room: With electric oven, ceramic hob, microwave, fridge/freezer, dishwasher and washing machine.</li>
  <li>Bedroom 1: With twin beds.</li>
</ul>

<h4>First Floor</h4>
<ul>
  <li>Bedroom 2: With kingsize bed.</li>
  <li>Bedroom 3: With double bed.</li>
  <li>Bedroom 4: With single bed.</li>
  <li>Bathroom: With shower over bath, and toilet.</li>
</ul>

<h4>Detailed Features</h4>
<ul>
  <li>Underfloor central heating (in kitchen and shower room)</li>
  <li>Electric heaters</li>
  <li>Bed linen</li>
  <li>Towels</li>
  <li>Wi-Fi and fuel for wood burner included.</li>
  <li>Travel cot and highchair available on request</li>
  <li>Lawned rear garden</li>
  <li>Sun terrace with garden furniture</li>
  <li>Private parking for 2 cars</li>
  <li>No smoking</li>
  <li>Electricity</li>
  <li>Please note: There are steps from the sun terrace</li>
</ul>

Harbourside is a spacious, four bedroomed, three-storey, detached house situated in the picturesque village of Bodinnick.
Accommodating up to 7 people, with stunning views across the river to Fowey, you benefit from a large patio, lawned rear garden, and parking for 2 cars.
This south-west facing property enjoys the sun throughout the day and also has the benefit of a large sun terrace.
Penmarlam Quay is only a short walk away offering a boat park, slipway and cafe, making this location ideal for nautical enthusiasts.

